<%= render 'application/header' %>
<div class="bg2">
  <h1>Hi <%= @user.display_name %>!</h1>

  <section class="weather-window">
      <iframe src="https://giphy.com/embed/fMAJPbkzgW6bmRdnXf" width="96" height="54" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <p>
      The Next Full Moon is <%= @next_full_moon %>
    </p>
  </section>

  <section>
    <h2>♥️Listen to these Songs tonight with your partner♥️</h2>
    <% @songs_n_artists.each do |song| %>
      <p>
        <%= song[0] %> By: <% song[1].each do |artist| %> <%= artist %> <% end %>
      </p>
    <% end %>
  </section>

  <section class="calender">
    <%= month_calendar do |date| %>
      <%= date.day %>
    <% end %>
  </section>
</div>
