
<h1>Hi <%= @user.display_name %>!</h1>

<section class="weather-window">
    <iframe src="https://giphy.com/embed/fMAJPbkzgW6bmRdnXf" width="96" height="54" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <p>
    The Next Full Moon is <%= @next_full_moon %>
  </p>
</section>

<section>
  <h2>♥️Listen to these Songs tonight with your partner♥️</h2>
  <% @songs_n_artists.each do |song| %>
    <p>
      <%= song[0] %> By: <% song[1].each do |artist| %> <%= artist %> <% end %>
    </p>
  <% end %>
</section>

<footer class="logout">
  <%= link_to "Logout", logout_path, method: :delete %>
</footer>


<h1>Weather?</h1>
<%= form_with url: weather_path, method: 'get', local: true do |f|  %>
  <%= f.label :q, 'City' %>
  <%= f.text_field :q %><br /><br />
  <%= f.submit 'Find' %>
<% end %>
