<%= render 'application/header' %>

<div class="bg2">
  <div class="container1">
    <p class="fancay">hi <%= current_user.display_name %>!</p>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="item active">
        <section>
          <h2 class="bussin">
            <span style="color:pink">♥️</span>
            <span style="color:#F3D6E1">Love Songs of the Day</span>
            <span style="color:pink">♥️</span>
          </h2>
          <% @songs_n_artists.each do |song| %>
          <p class="bussin">
            <span style="color:#900C3F ">
                        <%= song[0] %></span> <span style="color:#DF1F69 "> By: <% song[1].each do |artist| %> <%= artist %> <% end %>
                        </span></p>
          <% end %>
        </section>
      </div>
      <div class="item">
        <div section class="weather">
        <section class="weather-window">
          <iframe src="https://giphy.com/embed/fMAJPbkzgW6bmRdnXf" width="96" height="54" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
          <p>
            The Next Full Moon is <%= @next_full_moon %>
          </p>
        </section>
      </div>
      <div class="item">
        <h2 class="bussin">
          <span style="color:pink">♥️</span>
          <span style="color:white">Current Weather</span>
          <span style="color:pink">♥️</span>
        </h2>
        <div class="d-flex justify-content-sm-center">
        <div id="landing-search-input">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%= form_with url: weather_path, local: true, method: :get, html: { class: "form-inline" } do |form| %>
              <div class="row form-group">
                <div class="col-sm-8">
                  <%= form.text_field :q, placeholder: "City", size: 40, data: { behavior: "autocomplete" }, class: "form-control" %></div>
                  <div class="d-flex justify-content-sm-center">
                  <br>
                  <%= form.button "Is It Sunny?", class: "btn btn-outline-success form-control" %></div>
                </div></div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <h2 class="bussin">
          <span style="color:pink">♥️</span>
          <span style="color:white">Search Event Tickets</span>
          <span style="color:pink">♥️</span>
        </h2>
        <div class="d-flex justify-content-sm-center">
        <div id="landing-search-input">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%= form_with url: ticketmaster_path, local: true, method: :get, html: { class: "form-inline" } do |form| %>
              <div class="row form-group">
                <div class="col-sm-8">
                  <%= form.text_field :city, placeholder: "City", size: 40, data: { behavior: "autocomplete" }, class: "form-control" %>
                  <%= form.text_field :keyword, placeholder: "Keyword", size: 40, data: { behavior: "autocomplete" }, class: "form-control" %></div>
                  <br><div class="d-flex justify-content-sm-center">
                  <%= form.button "Search", class: "btn btn-outline-success form-control" %></div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <h2 class="event-creation"> Add Event to the Calendar </h2>
    <section class="event-form center">
      <%= form_with url: '/events', method: :post do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :location %>
        <%= f.text_field :location %><br>

        <%= f.label :start_time %>
        <%= f.datetime_local_field :start_time %>
        <%= f.submit %><span class="notice"><%= flash[:notice] %></span>

      <% end %>
    </section>

  <section class="calender">
    <%= month_calendar(events: @events) do |date, goals| %>
      <%= date%>
      <% goals.each do |goal| %>
        <div>
          <%= goal.name %><br>
          <%= goal.location %>
        </div>
      <% end %>
    <% end %>
  </section>
</div>
