<%= render 'application/header' %>

<div class="bg2">
  <div class="container1">
    <h1>Hi <%= current_user.display_name %>!</h1>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators --
      <!--
      <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol> -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <section>
          <h2 class="bussin">
            <span style="color:pink">♥️</span>
            <span style="color:white">Love Songs of the Day</span>
            <span style="color:pink">♥️</span>
          </h2>
          <% @songs_n_artists.each do |song| %>
          <p class="bussin">
            <%= song[0] %> By: <% song[1].each do |artist| %> <%= artist %> <% end %>
          </p>
          <% end %>
        </section>
      </div>
      <div class="item">
        <section class="weather-window">
          <iframe src="https://giphy.com/embed/fMAJPbkzgW6bmRdnXf" width="96" height="54" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
          <p>
            The Next Full Moon is <%= @next_full_moon %>
          </p>
        </section>
      </div>
      <div class="item">
        <h2 class="bussin">
          <span style="color:pink">♥️</span>
          <span style="color:white">Current Weather</span>
          <span style="color:pink">♥️</span>
        </h2>
        <div id="landing-search-input">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%= form_with url: weather_path, local: true, method: :get, html: { class: "form-inline" } do |form| %>
              <div class="row form-group">
                <div class="col-sm-8">
                  <%= form.text_field :q, placeholder: "City", size: 40, data: { behavior: "autocomplete" }, class: "form-control" %>
                  <br>
                  <%= form.button "Get Current Weather", class: "btn btn-outline-success form-control" %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <h2 class="bussin">
          <span style="color:pink">♥️</span>
          <span style="color:white">Search Event Tickets</span>
          <span style="color:pink">♥️</span>
        </h2>
        <div id="landing-search-input">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%= form_with url: ticketmaster_path, local: true, method: :get, html: { class: "form-inline" } do |form| %>
              <div class="row form-group">
                <div class="col-sm-8">
                  <%= form.text_field :city, placeholder: "City", size: 40, data: { behavior: "autocomplete" }, class: "form-control" %>
                  <%= form.text_field :keyword, placeholder: "Keyword", size: 40, data: { behavior: "autocomplete" }, class: "form-control" %>
                  <br>
                  <%= form.button "Search", class: "btn btn-outline-success form-control" %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <section class="calender">
      <%= month_calendar do |date| %>
      <%= date.day %>
      <% end %>
    </section>
  </div>
