
<div class="bg4">
  <h2 class="bussin" style="padding: 20px">Moon & Weather</h2>

  <% if @weather.class == String %>
    <%= @weather %>
  <% else %>
    <p> Moon Phase:     <%= @weather.moonphase     %> </p>
    <p> Next Full Moon: <%=@weather.next_full_moon %> </p>
  <% end %>

  <div class="bg4">
    <h2 class="bussin-left" style="padding: 20px">3 Day Forecast</h2>
    <div class="container-left">
      <div class="card-group">
        <div class="card text-center" style="width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Tomorrow</h5>
            <%= image_tag(@weather.next_3_days_icons[0]) %>
            <p class="card-text"><%= @weather.next_3_days_forecast[0] %></p>
          </div>
        </div>
        <div class="card text-center" style="width: 12rem;">
          <div class="card-body">
            <h5 class="card-title"><%= @weather.two_days_from_today %></h5>
            <%= image_tag(@weather.next_3_days_icons[1]) %>
            <p class="card-text"><%= @weather.next_3_days_forecast[1] %></p>
          </div>
        </div>
        <div class="card text-center" style="width: 12rem;">
          <div class="card-body">
            <h5 class="card-title"><%= @weather.three_days_from_today %></h5>
            <%= image_tag(@weather.next_3_days_icons[2]) %>
            <p class="card-text"><%= @weather.next_3_days_forecast[2] %></p>
          </div>
        </div>
      </div>
    </div>

    <h2 class="bussin-right">Today</h2>
    <div class="container-right">
      <div class="card-group">
        <div class="card text-center" style="width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Sunrise</h5>
            <i class="fas fa-sun fa-4x"></i>
            <p class="card-text"><%= @weather.sunrise %></p>
          </div>
        </div>
        <div class="card text-center" style="width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Sunset</h5>
            <i class="far fa-sun fa-4x"></i>
            <p class="card-text"><%= @weather.sunset %></p>
          </div>
        </div>
        <div class="card text-center" style="width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Moonrise</h5>
            <i class="fas fa-moon fa-4x"></i>
            <p class="card-text"><%= @weather.moonrise %></p>
          </div>
        </div>
        <div class="card text-center" style="width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Moonset</h5>
            <i class="far fa-moon fa-4x"></i>
            <p class="card-text"><%= @weather.moonset %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
